@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Pitch black background */
.matt-black-pattern {
  background-color: #000000;
}
